/* div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    background: yellow;
    margin: auto;
    position: absolute;
    left: 46%;
    text-decoration: none;
  } */

  .link {
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 47%;
    background: yellow;
    margin: 0;
    font-size: x-large;
  }

